body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    margin: 0;
}

#search-container {
    text-align: center;
    margin: 20px auto;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* .btnb {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */

#results-container {
    text-align: left;
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#results-table {
    border-collapse: collapse;
    width: 100%;
}

.button-container {
    padding: auto;
    text-align: center;
    margin: 20px auto;
}



#results-table, #results-table th, #results-table td {
    border: 1px solid #ddd;
}

#results-table th, #results-table td {
    padding: 10px;
    text-align: left;
}

#results-table th {
    background-color: #f2f2f2;
}

#warning-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.btn-back {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#warning-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#close-warning {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
}

.notification-message {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: none;
}

